<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <clear/>
        <add name="Redis"
             connectionString="{HOST}:6379,allowAdmin=true,ssl=false,connectTimeout=5000,database=0,password=null"
             providerName="StackExchange.Redis.Extensions"/>
    </connectionStrings>

</configuration>