<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.0" targetFramework="net452" />
  <package id="Common.Logging.NLog41" version="3.3.0" targetFramework="net452" />
  <package id="Formo" version="1.4.4.40853" targetFramework="net452" />
  <package id="NLog" version="4.1.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>