<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="cloudStructures" type="CloudStructures.CloudStructuresConfigurationSection, CloudStructures" />
        <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
    </configSections>

    <!-- Used by CloudStructuresTests -->
    <cloudStructures>
        <redis>
            <group name="Cache">
                <!-- Simple Grouping(key sharding) -->
                <add connectionString="192.168.99.100,allowAdmin=true" db="0" />
                <add connectionString="192.168.99.100,allowAdmin=true" db="1" />
            </group>
            <group name="Session">
                <!-- Full option -->
                <add connectionString="192.168.99.100,allowAdmin=true" db="2" valueConverter="CloudStructures.GZipJsonRedisValueConverter, CloudStructures" />
            </group>
        </redis>
    </cloudStructures>

    <!-- Used by RedisExtensionsTests -->
    <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" password="my password">
        <hosts>
            <add host="192.168.99.100" cachePort="6379" />
        </hosts>
    </redisCacheClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>